
<div class="staging panel panel-default" data-bind="css: { commitValidationError: commitValidationError }">
  <div class="panel-body">
    <div class="arrowContainer arrowDown">
      <div class="arrow"></div>
    </div>
    <div data-bind="visible: showNux" class="nux">
      Nothing to commit. <a class="amend-link" href="#" data-bind="click: toggleAmend, visible: canAmend">Amend previous commit?</a>
    </div>
    <div class="row" data-bind="visible: !showNux()">
      <div class="col-lg-12 file-area">
        <div class="files" data-bind="foreach: files">
          <div class="file" data-bind="css: { showingDiffs: isShowingDiffs }">
            <span class="transparent" data-bind="css: {staged : isStaged}">M</span>
            <span class="transparent" data-bind="css: {modified : isModified}">M</span>
            <button class="name btn btn-default" data-bind="click: toggleDiffs">
            <span data-bind="text: displayName"></span>
            </button>
            <span class="new" data-bind="visible: isNew">New</span>
            <span class="deleted" data-bind="visible: removed">Removed</span>
            <span class="additions" data-bind="text: additions"></span>
            <span class="deletions" data-bind="text: deletions"></span>
            <span class="conflict" data-bind="visible: conflict"><span class="temporary">Conflicts</span><span class="launchmergetool explanation" data-bind="visible: mergeTool, click: launchMergeTool">Launch Merge Tool</span><span class="markresolved explanation" data-bind="click: resolveConflict">Mark as Resolved</span></span>
            <!-- ko if: isShowingDiffs -->
            <div class="diffContainer" data-bind="component: diff"></div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
