
<div class="path" data-bind="shown: shown">

  <!-- ko if: status() == 'uninited' -->
  <div class="uninited">
    <div class="container">
      <h1>Not a repository</h1>
    </div>

  </div>
  <!-- /ko -->

  <!-- ko if: status() == 'no-such-path' -->
  <div class="invalid-path" data-bind="visible: status() == 'no-such-path'">
    <h2>Invalid path</h2>
    <p>"<span data-bind="text: repoPath"></span>" doesn&#39;t seem to be a valid path.</p>
    <div class="create-dir">
      <button class="btn btn-primary btn-lg" data-bind="click: createDir">Create directory</button>
    </div>
  </div>
  <!-- /ko -->

  <!-- ko if: repository -->
  <!-- ko component: repository --><!-- /ko -->
  <!-- /ko -->

</div>
